<div class="wrapper">
  <div class="dashboard">
    <div class="header">
      <p><img src="/assets/img/profile.jpg" class="profile-pic"/>
      <span>Hey, Joe. We found some prospects for you. Check them out!</span></p>
    </div>
    <div class="col-sm-3">
      <ul class="nav">
        <li><a href="/users">Dashboard</a></li>
        <li><a href="/users">Scout Prospects</a></li>
        <li><a href="/users">Baseball Cards</a></li>
        <li><a href="/users">Dating Preferences</a></li>
        <li><a href="/users">Edit Profile</a></li>
        <li><a href="/users">Account Settings</a></li>
      </ul>
    </div>
    <div class="col-sm-9">
      <ul>
       <% @users.each do |user| %>
          <li><%= link_to user.name, user_path(user) %></li>
        <% end %>
        <li class="baseball-card col-sm-4">
          <div class="card">
            <img src="/assets/img/match1.jpg">
            <h3>Sam O'Brien, 25</h3>
            <h4>Boston Red Sox Fan</h4>
            <button class="view-profile">View Profile</button>
            <button class="request-date">Take me out to a ballgame</button>
          </div>
          <button class="add-to-collection">Add card to collection</button>
        </li>

        <li class="baseball-card col-sm-4">
          <div class="card">
            <img src="/assets/img/match2.jpg">
            <h3>Kondwani Joby , 20</h3>
            <h4>Boston Red Sox Fan</h4>
            <button class="view-profile">View Profile</button>
            <button class="request-date">Take me out to a ballgame</button>
          </div>
          <button class="add-to-collection">Add card to collection</button>
        </li>

        <li class="baseball-card col-sm-4">
          <div class="card">
            <img src="/assets/img/match3.jpg">
            <h3>Vencel Aetius, 35</h3>
            <h4>Boston Red Sox Fan</h4>
            <button class="view-profile">View Profile</button>
            <button class="request-date">Take me out to a ballgame</button>
          </div>
          <button class="add-to-collection">Add to collection</button>
        </li>

      </ul>
    </div>
  </div>
</div>
