<h1><%= @user.name %></h1>

<ul>
  <li>Favorite Team: <%= @user.favorite_team.name %></li>
  <li>Least Favorite Team: <%= @user.least_favorite_team.name %></li>
</ul>

<button><%=link_to "Invite to a Date"%></button>


<!-- TODO: CREATE DATE -->
