<h1><%= @user.name %></h1>

<ul>
  <li>Favorite Team: <%= link_to @user.favorite_team.name, team_path(@user.favorite_team) %></li>
  <li>Least Favorite Team: <%= link_to @user.least_favorite_team.name, team_path(@user.least_favorite_team) %></li>
</ul>

<!-- TODO: CREATE DATE -->
